body{
    text-align: center;
    /* font-family: 'Kumbh Sans', sans-serif; 
    font-family: 'Trirong', sans-serif;  */
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
}
.navbar{
    background-color: #51A8AA;
}
.nav-item, .nav-link{
    color: rgb(94, 57, 4);
    font-size: 18px;
}


.nav-link{
    margin-right: 10px;
}
.nav-link:hover{
  color:rgb(24, 117, 6);
}
.main-content{
    margin-top: 20px;
    padding-bottom: 600px;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
    color: inherit
}
.products-container{
 text-align: center;
}
.product-link{
  border-color: #51A8AA;
  border-radius: 5px;
}
.product{
    /* margin: 15px;
    border: none;
    background-color: #2C4B79;
    color: white;
    height: 430px;
    border-radius: 15px; */
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.product-image img{
    width: 15rem;
    height: 200px;
    border-radius: 15px;
}
.product-details{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:flex-start;
  padding: 50px;
  background-color: white;
  height: fit-content;
}
.product-details > *{
  margin-left: 20px;
}
.app-brand{
    background: url('../images/Shopcrawl.png');
    width: 20px;
    height: 50px;
    display: block;
    font-family: "Trirong", sans-serif;
}
.account{
    margin-right: 10px;
    background-color: #2C4B79;
    border: none;
}
/* .account> i{
    font-size: 20px;
} */
.sort-nav{
    margin: auto;
    text-align: center;
    background-color: #51A8AA;
    color: white;
    width: 50%;
    border-radius: 20px;
}

.user-form{
  border: solid;
  border-color: #05512b;
  border: none;
  border-radius: 20px;
  background-color: #8de3e4;
  color: darkblue;
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
}
.user-form > *{
  margin: 15px;
  font-size: 18px;
}
.user-form-btn{
  background-color: #2C4B79;
  width: 30%;
  border: none;
}
.user-form-btn:hover{
  background-color: #048540;
  color: white;
}

.user-form > h2{
  font-size: 50px;
}
.home > *{
  margin-top: 30px;
  padding: 10px;
}
.dropdown-menu{
  background-color: #51A8AA;
}
.logo-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: wrap;
}
.stores-container{
  margin-top: 30px;
  width: 80%;
  margin: auto;
}
.stores-container > *{
  margin: 5px;
}
.stores{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 20px;

}
.stores > *{
  margin: 20px;
}
.stores img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.store{
  border: none;
}
.search-display{
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.search-display > .container{
  width: 70%;
}


.footer{
  background-color: #3ca8aa;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 380px;
}
.footer-value{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #2C4B79;
  background-color: #b6f4f5;
  margin-top: 0;
  width: inherit;
  margin: auto;
  padding: 15px;
}
.footer-value > *{
  width: 200px;
}
.footer-connect{
  text-align: center;
  background-color: #8de3e4;
  padding: 30px;
}
.footer-connect > *{
  margin: 10px;
}
.footer-connect-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 40%;
  margin: auto;
}
.footer-connect-icons > *{
  font-size: 20px;
}
.footer-brand{
  width: 100%;
  bottom: 0;
  color: aliceblue;
}
.brand-img{
  top: 0;
  height: 40px;
}
.logo-title{
  font-family: 'Michroma', sans-serif;
}
.carousel-caption{
  margin-top: 30px;
  bottom: 0;
}
.account-bar{
  background-color: #2C4B79;
  color: aliceblue;
}
.nav-home{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color:#8de3e4;
  margin-top: 60px;
}
.banner{
  height: 200px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: 'Trirong', sans-serif;
  color: rgb(7,89,158);
}
.banner p{
  font-size: 25px;
}
.electronics{
  background: url(https://images.anandtech.com/doci/8434/HTC_Desire_510_3V_White_678x452.jpg);  
  background-size: cover;
  background-repeat: no-repeat;
}
.fashion{
  /* background: rgb(179,59,218);
  background: linear-gradient(90deg, rgba(179,59,218,1) 0%, rgba(213,202,43,1) 100%); */
  background: url(https://www.wallpapers4u.org/wp-content/uploads/girl_blonde_cap_black_white_29087_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
.deals{
  background: url(https://img.freepik.com/premium-photo/flat-lay-trendy-creative-feminine-accessories-arrangement-purse-hat-sunglasses-female-accessories_408798-5917.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-desc{
  width: 100%;
}
.adverts{
  margin: auto;
  width: 100%;
  margin-bottom: 150px;
}
.home-banner{
   background: url(https://e1.pxfuel.com/desktop-wallpaper/996/973/desktop-wallpaper-online-shopping-monochrome-online-business-concepts-online-store-concepts-laptop-with-resolution-2880x1800-high-quality-online-store.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.home-banner > *{
  margin: auto;
}
.loading{
  padding-bottom: 600px;
}
.fProducts-display{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.fProducts-display > * {
  width: 300px;
  margin: 5px;
}
.fProduct-image{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.histories-container{
  padding-bottom: 300px;
}
.profile-image{
  height: 250px;
  border-radius: 50%;
}
.advert-image{
  height: 300px;
}
.adverts{
  margin-top: 30px;
}
.home-products{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.home-product{
  width: 300px;
  height: 350px;
  margin: 5px;
}
.home-product img{
  height: 250px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.fProduct-link:hover > *{
  background-color: rgb(230, 229, 229);
}
.error-page{
  padding-bottom: 400px;
}
.popular-container{
  margin-top: 50px;
  padding: 30px;
  width: 80%;
  margin: auto;
}
.popular-container > * {
  margin: 20px;
  
}
.popular-products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.popular-products img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.popular-products > * {
  margin: 20px;
}
.ring
{
  position:absolute;
  top:30%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #faf4f4;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#078445;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #545d58;
  box-shadow:0 0 20px rgba(10, 165, 39, 0.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #3db026;
  border-right:3px solid #10a039;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
span .loading
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
span .loading :before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#00ff77;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #00ffbb;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}